name: test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
  
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: install requirements
        run: pip install -r requirements.txt

      - name: test calculator
        run: python -m unittest test_calculator.py

  deploy:
      needs: build
      runs-on: ubuntu-latest
      steps:
        - name: checkout
          uses: actions/checkout@v2
        
        - name: deployment
          run: echo "deploying"





